.navbar {
    /* Making the navbar sticky */
    position: sticky;
    top: 0;
    z-index: 1000; /* fixes hover */

    /* blurred glass filter */
    backdrop-filter: blur(20px);
    
    /* Updated layout to be flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    padding: 1rem 5rem;
    border-bottom: 2px solid var(--clr-border);
    
}

/* THIS IS A PLACEHOLDER DIV FOR LOGO */
.logo {
    border: 5px var(--clr-border) solid;
    border-radius: var(--radius);
    height: 80px;
    width: 80px;
    margin-right: 2rem;

    /* 
    This flexbox alligns the "LOGO" text to the center
    Remove when adding sample logo.
    */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLinks {
    display: flex;
    gap: 3.5rem;
    text-transform: uppercase;
}

.navLinks a {
    color: var(--clr-accent);
}

.navLinks a:hover {
    color: var(--clr-accent-hover);
}

/* mobile responsiveness */
.menuButton {
    display: none;
}

@media (max-width: 768px) {

    .navbar {
        justify-content: space-between;
        padding: 0.75rem 1.5rem;
    }

    .logo {
        width: 60px;
        height: 60px;
        margin-right: 0;
        border-width: 3px;
    }

    .menuButton {
        display: block;

        border: none;
        background: none;

        font-size: 2rem;
        color: var(--clr-accent);

        cursor: pointer;
        padding: 0.5rem;
    }

    .navLinks {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        padding: 1.5rem;
        background: var(--clr-surface);
        border-bottom: 2px solid var(--clr-border);

        /* for animation */
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;

        transition: 
            max-height 0.3s ease,
            opacity 0.3s ease,           
            visibility 0.3s ease;
    }

    .navLinks.open {
        max-height: 500px; /* large value */
        opacity: 1;
        visibility: visible;
    }

    .navLinks li {
        width: 100%;
        border-bottom: 1px solid var(--clr-border);
    }

    /* get rid of last links border becayse it looks weird */
    .navLinks li:last-child {
        border-bottom: none;
    }

    .navLinks a {
        display: block;
        padding: 0.5rem;
    }
    
}