.navbar {
    /* Updated layout to be flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* OLD CSS (GRID LAYOUT) - wont be good for responsiveness
    display: grid;
    grid-template-columns: 3;
    align-items: center;
    */
    
    width: 100%;
    background-color: var(--clr-surface);
    padding: 1rem 5rem;
    border: 2px solid var(--clr-border);
    border-radius: var(--radius);
}

/* THIS IS A PLACEHOLDER DIV FOR LOGO */
.logo {
    border: 5px var(--clr-border) solid;
    border-radius: var(--radius);
    height: 80px;
    width: 80px;

    /* 
    This flexbox alligns the "LOGO" text to the center
    Remove when adding sample logo.
    */
    display: flex;
    align-content: center;
    justify-content: center;
}

.navLinks {
    display: flex;
    gap: 2rem;
}

.navLinks a {
    color: var(--clr-accent);
}

.navLinks a:hover {
    color: var(--clr-accent-hover);
}