.navbar {
    display: grid;
    grid-template-columns: 3;
    align-items: center;
    width: 100%;
    background-color: rgb(124, 124, 124);
    padding: 1rem;
    border-bottom: 2px solid white;
}

.logo {
    border: 5px solid;
    grid-column: 1;
    height: 50px;
    width: 50px;
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 2rem;
    grid-column: 2;
}

.navLinks a {
    color: black;
}

.navLinks a:hover {
    color: rgb(82, 82, 82);
}