.artPiece {
    padding: 0.5rem;
    border: 5px solid;
    height: auto;
    width: auto;
}

.artContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}