.artContent {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.imgContainer {
    flex: 1;
    display: flex;
    justify-content: center;
}

.artImage {
    width: 100%;
    max-width: 550px;

    aspect-ratio: 1 / 1;
    object-fit: cover;

    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.infoContainer {
    flex: 1;
    max-width: 450px;
}


.infoSection {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--clr-border);
}


.artTitle {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    margin-bottom: 0.5rem;
}

.collectionName {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}