.contactHero {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactHero h1 {
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--clr-border);
}

.contactHero p {
    max-width: 60ch;
}

.contactMethods {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.contactMethods .card {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.contactCardTitle {
    border-bottom: 2px solid var(--clr-border);
}

.contactCardDescription {
    margin: 0;
    padding: 0.5rem;
}