.formSelector {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 650px;
    gap: 1rem;
    margin: 2rem auto;
}

.formSelector button {
    flex: 1;
    font: inherit;
    padding: 1rem;
    border: 2px solid var(--clr-border);
    border-radius: var(--radius);
    background-color: var(--clr-surface);
   
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease,
        color 0.3s ease;
}

.formSelector button:hover {
    border-color: var(--clr-accent);
}

.formSelector .active {
    background-color: var(--clr-accent);
    border-color: var(--clr-accent);
    color: var(--clr-primary);
}

.formSection { 
    width: 100%; 
    max-width: 750px; 
    margin: 0 auto 1rem; 
}

.formSection h4 { 
    margin-bottom: 0.75rem; 
    border-bottom: 2px solid var(--clr-border); 
}

.form {
    width: 100%;
    max-width: 650px;

    margin: 2rem auto 0;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.formGroup label {
    color: var(--clr-primary);
    font-weight: 600;
}

.formGroup input,
.formGroup textarea {
    width: 100%;
}

.formGroup textarea {
    resize: vertical;
    min-height: 150px;
}

.form .btn {
    align-self: flex-start;
    margin-top: 0.5rem;
}