.hero {
    display: flex;
    flex-direction: space-between;
    align-items: center;

    min-height: 60vh; 
    max-width: 1200px;  
    margin: 0 auto;
    padding: 3rem 2rem;
}

.heroText {
    flex: 2;
    max-width: 480px;

    /* add small gap betwen elements */
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

/* Limit paragraph lines to 50 characters */
.heroText p:last-of-type {
    max-width: 50ch;
}

.heroImage {
    flex: 3;
    display: flex;
    justify-content: center;
    padding-left: 2rem;
}

.heroImage img {
    width: 500px;
    max-width: 100%;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        min-height: auto;
        padding: 2rem 1rem;
        gap: 2rem;
        text-align: center;
    }

    .heroText {
        max-width: 100%;
        text-align: center;
    }

    .heroImage {
        width: 100%;
        max-width: 400px;
    }
}
