.item {
    width:100%;

    display:grid;
    grid-template-columns: 1fr 60px 1fr;

    align-items:center;
}

/* number stays in centre */
.number {
    grid-column:2;

    width:60px;
    height:60px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    background:var(--clr-accent);
    color:var(--clr-primary);

    font-weight:bold;

    box-shadow:var(--shadow);

    z-index:2;

    /* animation start */
    opacity:0;
    transform: scale(0.5);
    transition:
        transform .8s ease,
        opacity .8s ease;

}

/* card */
.card {
    width:350px;

    padding:1.5rem;

    background-color:var(--clr-surface);

    border:2px solid var(--clr-border);
    border-radius:var(--radius);

    box-shadow:var(--shadow);

    /* animation start */
    opacty:0;
    transition:
        opacity .8s ease,
        transform .8s ease,
        box-shadow .8s ease;
}

.cardTitle {
    text-transform:uppercase;
    letter-spacing:.1rem;
    margin-bottom:.5rem;
}

/* INITAL POSITIONS */

/* Card LEFT of number */
.left .card {
    grid-column:1;
    justify-self:end;
    margin-right:1rem;

    transform:translateX(-50px);
}

/* Card RIGHT of number */
.right .card {
    grid-column:3;
    justify-self:start;
    margin-left:1rem;

    transform:translateX(50px);
}

/* WHEN VISIBLE */

/* visible state */
.show .card {
    opacity:1;
    transform:translateX(0);
}

.show .number {
    opacity: 1;
    transform: scale(1);
}

/* hover */
.card:hover {
    transform:translateY(-5px);
    box-shadow:var(--shadow-hover);
}