.summary {
    margin-top: 2rem;
    padding-top: 1rem;

    border-top: 2px solid var(--clr-border);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.summary h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
}